:root{

--bg:#0b0f14;
--text:#e6e6e6;
--accent:#4fffb0;
--accent2:#00c8ff;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:var(--bg);
color:var(--text);
font-family:'Syne',sans-serif;

cursor:none;

}


nav{

display:flex;
justify-content:space-between;
padding:20px 40px;

position:fixed;
width:100%;

background:#0b0f14;

z-index:10;

}

nav a{

margin-left:20px;
text-decoration:none;
color:#aaa;

}


section{

padding:120px 40px;
max-width:1000px;
margin:auto;

}

h1{

font-size:80px;

}

h1 span{

color:var(--accent);

}

h2{

margin-bottom:20px;

}


.hero-buttons{

margin-top:30px;

}

.btn{

padding:12px 20px;

background:var(--accent);
color:#000;

border-radius:8px;

text-decoration:none;

margin-right:10px;

display:inline-block;

}

.btn.outline{

background:none;
border:1px solid var(--accent);
color:var(--accent);

}

.card{

background:#111;
padding:20px;
border-radius:10px;
margin-top:20px;

}


.scroll-progress{

position:fixed;
top:0;
left:0;
height:3px;

background:linear-gradient(90deg,var(--accent),var(--accent2));

width:0%;

z-index:9999;

}


.cursor-dot{

position:fixed;

width:8px;
height:8px;

background:var(--accent);

border-radius:50%;

pointer-events:none;

z-index:9999;

transform:translate(-50%,-50%);

}

.cursor-ring{

position:fixed;

width:40px;
height:40px;

border:1px solid white;

border-radius:50%;

pointer-events:none;

z-index:9998;

transform:translate(-50%,-50%);

}


.terminal{

background:black;

border-radius:10px;

overflow:hidden;

margin-top:20px;

}

.terminal-bar{

display:flex;
align-items:center;

padding:10px;

background:#111;

}

.dot{

width:10px;
height:10px;
border-radius:50%;
margin-right:6px;

}

.red{background:#ff5f57;}
.yellow{background:#febc2e;}
.green{background:#28c840;}

.terminal-body{

padding:20px;

font-family:'DM Mono',monospace;

color:#4fffb0;

}
